.env

#python 
*.pyc
*.pyo
*.pyd
__pycache__/
*.pytest_cache/

#VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

#results
*.csv
*.json
*.png
*.jpg
*.jpeg
*.svg
experiment_summary_*.txt
terminal_output_*.txt

#enviroment
venv/
